---
import { Icon } from 'astro-icon';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  description?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  callToAction3?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  callToAction3 = await Astro.slots.render('callToAction2'),
} = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div
        class="dark:bg-[url('/images/pattern-bgnd-3.jpg')] dark:bg-cover max-w-4xl mx-auto text-center p-6 rounded-lg shadow-xl border dark:shadow dark:border-slate-800 dark:bg-slate-800 bg-gray-50"
      >
        {
          title && (
            <h2
              class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
              set:html={title}
            />
          )
        }
        {subtitle && <p class="text-xl text-muted dark:text-slate-400" set:html={subtitle} />}
        <div
          class="px-6 pt-5 text-center lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-10 xl:p-3"
          id="pricing-rhs"
        >
          <span class="text-xl font-bold leading-6 text-gray-900 dark:text-gray-300 pt-4 lg:pb-0">
            RRP $<span id="retail-2">1988</span></span
          ><br class="inline" /><span class="dark:text-burntorange text-burntorange lg:text-3xl md:text-2xl sm:text-3xl"
            >NOW <span id="percentage-discount-2">50</span>% OFF!</span
          >

          <h2
            class="text-4xl min-[1400px]:text-[90px] max-[1535px]:text-7xl min-[1536px]:text-7xl font-bold leading-tighter tracking-tighter dark:mb-1 font-heading dark:text-gray-200 text-gray-800 text-lcenter mt-4"
          >
            <span class="text-xl pr-0 relative -top-8 text-gray-800 dark:text-white"> $</span><span id="price-2"
              >997</span
            >
          </h2>
        </div>
        {
          typeof callToAction === 'string' ? (
            <Fragment set:html={callToAction} />
          ) : (
            callToAction &&
            callToAction.text &&
            callToAction.href && (
              <div class="mt-6 max-w-xs mx-auto">
                <a class="btn btn-primary w-full sm:w-auto" href={callToAction.href} target="_blank" rel="noopener">
                  {callToAction.icon && <Icon name={callToAction.icon} class="w-5 h-5 mr-1 -ml-1.5" />}
                  {callToAction.text}
                </a>
              </div>
            )
          )
        }

        <div id="bitcoin-discount-active-2">
          <p class="mt-10 text-sm leading-5">
            <span class="inline font-medium dark:text-white text-white text-xl"
              >Or Pay With
              {
                callToAction3.icon && (
                  <Icon name={callToAction3.icon} class="w-7 h-7 inline relative -top-0.5" title="Bitcoin" />
                )
              }
            </span><br />
            <span class="inline font-medium dark:text-burntorange text-burntorange text-xl"
              >and get&nbsp;<span id="btc-percentage-discount-2">10</span>% extra off!
            </span>
          </p>
        </div>
        <!-- end bitcoin-discount-active-2 -->
        <div id="bitcoin-discount-inactive-2" class="hidden">
          <p class="mt-5 text-sm leading-5">
            <span class="inline font-medium text-gray-500 dark:text-white text-xl">
              Pay With&nbsp;
              {
                callToAction2.icon && (
                  <Icon name={callToAction2.icon} class="w-7 h-7 inline" title="Credit/Debit Card" />
                )
              }
            </span>

            <span class="inline font-medium dark:text-white text-white text-xl"
              >or
              {
                callToAction3.icon && (
                  <Icon name={callToAction3.icon} class="w-7 h-7 inline relative -top-0.5" title="Bitcoin" />
                )
              }
            </span>
          </p>
        </div>
        <!-- end bitcoin-discount-inactive-2 -->
      </div>
    </div>
  </div>
</section>
